<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Esigned</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- 헤더 섹션 시작 -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="home.html">
            <span>
              SkyBirds
              <span class="sr-only">(current)</span>
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="user.html">회원 관리</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="mobility.html">모빌리티</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="mo_manage.html">모빌리티 관리</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">고객 지원</a>
                </li>
              </ul>
              <div class="user_option">
                <a href="">
                  <img src="images/user.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
  </div>
  <section class="user_edit_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center spacing">
        <h2>모빌리티 추가</h2>
      </div>
      <div class="user_edit_form">
        <form id="addMobilityForm">
          <div class="form-group">
            <label for="mo_id">모빌리티 번호</label>
            <input type="text" class="form-control" id="mo_id" name="mo_id">
          </div>
          <div class="form-group">
            <label for="model">기종</label>
            <input type="text" class="form-control" id="model" name="model">
          </div>
          <div class="form-group">
            <label for="station_id">대여소 번호</label>
            <input type="text" class="form-control" id="station_id" name="station_id">
          </div>
          <div class="form-group">
            <label for="location_id">위치 번호</label>
            <input type="text" class="form-control" id="location_id" name="location_id">
          </div>
          <div class="form-group">
            <label for="manu_date">제조 일자</label>
            <input type="date" class="form-control" id="manu_date" name="manu_date">
          </div>
          <div class="form-group">
            <label for="batt">배터리</label>
            <input type="number" class="form-control" id="batt" name="batt">
          </div>
          <div class="form-group">
            <label for="mo_type">종류</label>
            <input type="text" class="form-control" id="mo_type" name="mo_type">
          </div>
          <div class="form-group">
            <label for="broken_yn">고장 여부</label>
            <input type="text" class="form-control" id="broken_yn" name="broken_yn">
          </div>
          <div class="form-group">
            <label for="last_main_date">최근 정비 날짜</label>
            <input type="date" class="form-control" id="last_main_date" name="last_main_date">
          </div>
          <button type="submit" class="btn btn-primary">추가</button>
        </form>
      </div>
    </div>
  </section>

  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/js/add_mobility.js"></script>
</body>

</html>
