<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>SkyBirds</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet" />
  <link href="css/responsive.css" rel="stylesheet" />
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c9f96a6bd96fdbc18d039c40af675e3c"></script>
</head>

<body class="sub_page">
  <div class="hero_area">
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="home.html">
            <span>SkyBirds</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="user.html">회원 관리</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="mobility.html">모빌리티</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="station.html">대여소</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">고객 지원</a>
                </li>
              </ul>
              <div class="user_option">
                <a href="">
                  <img src="images/user.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <section class="content_section">
      <div id="map" style="width:100%;height:500px;"></div>
      <div class="mo_container">
        <div class="header">
          <h2>Mobility Information</h2>
        </div>
        <div class="content">
          <button class="tab-button">킥보드</button>
          <div class="info-box mobility-info">
            <div class="info-row">
              <span class="label bold">ID<span class="value"></span></span> <!-- ID 값이 표시될 부분 -->
              <div class="value-status">
                <span class="battery-status percent"></span>
                <span class="status"></span>
              </div>
            </div>
            <div class="info-row">
              <span class="label bold">대여소<span class="value station-name"></span></span> <!-- 대여소 이름이 표시될 부분 -->
            </div>
            <div class="info-row">
              <span class="label"><img src="images/Vector.png" class="icon"><span class="value address"></span></span> <!-- 주소가 표시될 부분 -->
            </div>
            <div class="divider"></div>
            <div class="info-row">
              <span class="label">제조일</span>
              <span class="value reg_date"></span> <!-- 제조일이 표시될 부분 -->
            </div>
            <div class="info-row">
              <span class="label">정비 일자</span>
              <span class="value main_date"></span> <!-- 최근 정비 일자 -->
            </div>
            <div class="info-row">
              <span class="label">정비 비용</span>
              <span class="value main_cost"></span> <!-- 정비 비용 -->
            </div>
            <div class="info-row">
              <span class="label">정비 내용</span>
            </div>
            <textarea class="maintenance-textbox"></textarea> <!-- 정비 내용 -->
          </div>
          <div class="info-box station-info" style="display:none;">
            <div class="info-row">
              <span class="label bold">대여소 ID<span class="value"></span></span>
            </div>
            <div class="info-row">
              <span class="label bold">대여소 이름<span class="value station-name"></span></span>
            </div>
            <div class="info-row">
              <span class="label"><img src="images/Vector.png" class="icon"><span class="value address"></span></span>
            </div>
            <div class="info-row">
              <span class="label">모빌리티 수</span>
              <span class="value mobility-count"></span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/mobility.js"></script>

</body>

</html>

